/*Titles & Text*/
.h1, h1 {
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Droid Sans', sans-serif;
    margin-bottom: 25px;
    /*text-shadow: 1px 1px 3px #000000;*/
}
.h2, h2 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 25px;
    font-family: 'Droid Sans', sans-serif;
    line-height: 24px;
}
.h3, h3 {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 25px 0;
}
body { 
    font-family: 'Droid Sans', sans-serif;
}
p {
    font-weight: 400;
    color: #000000;
}
section {
    padding: 50px 0 35px 0;
}
#students,
#testimonials,
#sponsors,
#previous-sponsors,
#looking {
    background-color: #F7F7F7;
}
#looking { 
    padding-top: 0;
}
#looking .subtext strong {
    margin: 0 10px;
}
/*Buttons*/
.btn-primary {
    background: linear-gradient(-90deg, #F40085 0%, #5B00FF 100%);
    box-shadow: 0px 2px 4px 0px rgba(105,50,205,0.30);
    border-radius: 4px;
    border: 0;
    /* btn_label: */
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    font-weight:700;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1px;
    padding: 10px 25px;
    margin-top: 25px;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -webkit-transition: background .5s;
    transition: background .5s;
}
.btn-primary:hover {
     background: linear-gradient(-90deg, #6A33CD 0%, #6A33CD 100%);
}

.btn-secondary {
    background-color: #f52e99;
    box-shadow: 0px 2px 4px 0px rgba(105,50,205,0.30);
    border-radius: 4px;
    border: 0;
    /* btn_label: */
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight:700;
    color: #FFFFFF;
    letter-spacing: 1px;
    padding: 13px 25px;

    -moz-transition: background .5s;
    -o-transition: background .5s;
    -webkit-transition: background .5s;
    transition: background .5s;
}
.btn-download {
    background: none;
    box-shadow: 0px 2px 4px 0px rgba(105,50,205,0.30);
    border-radius: 4px;
    border: 2px solid #f52e99;
    display: block;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight:700;
    color: #f52e99;
    letter-spacing: 1px;
    padding: 10px 25px 7px 25px;
    margin: 25px auto 25px auto;
    max-width: 280px;

    -moz-transition: background .5s;
    -o-transition: background .5s;
    -webkit-transition: background .5s;
}
.btn-download span {
    background: url(../images/download.png);
    background-size: 50px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -3px;
    width: 28px;
    height: 28px;
    display: inline-block;
}
/*Navigation*/
.navbar-brand img {
    display: none; 
    max-height: 35px;
    margin-right: 15px;
}
a.navbar-brand {
    margin: 10px 0 0 0;
    padding: 0;
    height: 35px;
    display: none;
}
.navbar-header,
.navbar-inverse {
    background-color: #6A33CD;
    color: #ffffff;
    border: 0;
}
.navbar-inverse .navbar-toggle {
    border: 0;
    color: #fff;
}


/*Splash Section*/
#splash {
    background-image: url(../images/bg_hero.png);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    margin-top: 84px;
    padding-top: 100px;
    padding-bottom: 25px;
}
.nextgen-logo {
    max-width: 50%;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 1px;
}
.navbar-toggle {
    padding: 25px 10px;
}
/*email Field*/
input[type="email"].required.email.main-email-feild::-webkit-input-placeholder {
    color: #333333;
}
input.required.email.main-email-feild {
    max-width: 75%;
    display: inline-block;
    font-size: 14px;
    padding: 15px 15px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    background-color: #ffffff;
    color: #333333;
    margin-top: -4px;
    margin-bottom: 20px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
/*Students Section*/

#students {
    padding: 25px 0;
}
#students p {
    margin: 10px 0 25px 0;
}
#students img.blurb-icon {
    width: 28px; 
}

#students .right .purple-bg {
    display: inline;
}
#students .left .purple-bg {
    display: none;
}
/*Testimonials Section*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#testimonials .headshot-one,
#sponsors .headshot-one {
    width: 75px;
    height: 75px;
    background-size: 80px;
    background-position: center;
    border-radius: 50%;
    margin-top: 20px;
}
#testimonials .headshot-one.george {
    background-image: url(../images/candidates/george.jpg);
}
#testimonials .headshot-one.mike {
    background-image: url(../images/candidates/mike.jpg);
}
#testimonials .headshot-one.tracy {
    background-image: url(../images/candidates/tracy.jpg);
}
#testimonials .headshot-one.demi {
    background-image: url(../images/candidates/demi.jpg);
    background-size: 100px;
}
#testimonials .headshot-one.anastasia {
    background-image: url(../images/candidates/anastasia.jpg);
}
#sponsors .headshot-one.sean {
    background-image: url(../images/sponsors/sean.jpg);
}
#sponsors .headshot-one.andrea {
    background-image: url(../images/sponsors/andrea.jpg);
}
#sponsors .headshot-one.spencer {
    background-image: url(../images/sponsors/spencer.jpg);
}
#sponsors .headshot-one.matt {
    background-image: url(../images/sponsors/matt.jpg);
}
#sponsors .headshot-one.amanda {
    background-image: url(../images/sponsors/amanda.jpg);
}
#testimonials p {
    text-align: center;
    margin-top: 25px;
}
#testimonials p.name {
    text-align: left;
}

#testimonials .owl-next,
#testimonials .owl-prev {
    display: inline-block;
    margin-top: 25px;
}
#testimonials .owl-next img,
#testimonials .owl-prev img {
    width: 50%;
}
#testimonials .owl-next { float: right; }

/*How It Works section*/
#how-it-works .col-xs-12 {
    margin-top: 35px;
}
#how-it-works .icon-how {
    background-color: #6A33CD;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
}
#how-it-works .icon-how img{
    margin-top: 35px;
}
#how-it-works .icon-how span {
    background-image: url(../images/spritesheet.png);
    background-size: 135px;
    height: 40px;
    width: 25px;
}
#how-it-works .apply span {
    background-position: -38px 0;
    display: block;
    margin: 12px auto 0 auto;
}
#how-it-works .interview span {
    background-position: -31px -56px;
    display: block;
    margin: 13px auto 0 auto;
    width: 39px;
    background-size: 134px;
}
#how-it-works .select span{
    background-position: -93px 0px;
    display: block;
    margin: 12px auto 0 auto;
    width: 30px;
}
#how-it-works .train span {
    background-position: -103px -64px;
    display: block;
    margin: 12px auto 0 auto;
    width: 30px;
    height: 35px;
}
#how-it-works .finalists span {
    background-image: url(../images/ribbon.png);
    background-position: 77px 1px;
    background-size: 50px;
    display: block;
    margin: 12px auto 0 auto;
    width: 30px;
    height: 35px;
}
#how-it-works .dine span {
    background-position: 79px -25px;
    display: block;
    margin: 12px auto 0 auto;
    width: 32px;
    height: 35px;
    background-size: 134px;
}
#how-it-works .purple-bold {
    text-transform: uppercase;
}
#how-it-works p {
    color: #646464;
}

/*desktop*/
#how-it-works {
    min-height: 310px;
}
#how-it-works .desktop {
    text-align: center;
}
#how-it-works .desktop .blurb-container{
    display: block;
    margin-top: 100px;
}
#how-it-works .desktop .icon-how {
    background-color: #FFFFFF;
    border: 1px solid #6A33CD;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
}
#how-it-works .desktop .icon-how.purple-icon {
    background-color: #6A33CD;
}
#how-it-works .desktop .apply span {
    background-position: -1px 0;
}
#how-it-works .desktop .interview span {
    background-position: 3px -56px;
}
#how-it-works .desktop .select span {
    background-position: -475px 42px;
}
#how-it-works .desktop .train span {
    background-position: 167px -132px;
}
#how-it-works .desktop .finalists span {
    background-position: 153px -133px;
}
#how-it-works .desktop .dine span {
    background-position: 79px 3px;
}

#how-it-works .apply span.hover {
    background-position: -28px 0;
}
#how-it-works .interview span.hover {
    background-position: -31px -56px;
}
#how-it-works .select span.hover {
    background-position: -93px 0px;
}
#how-it-works .train span.hover {
    background-position: -103px -64px;
}
#how-it-works .finalists span.hover {
    background-position: 77px 1px;
}

#how-it-works .dine span.hover {
    background-position: 79px -25px;

}
img.dots {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    margin: -50px 30px 0 30px;
}

/*What's in it for you section*/

#whats-in-it-for-you h3 {
    margin: 25px 0;
    text-align: left;
}

/*Sponsor section*/

#sponsors p {
    text-align: center;
    margin-top: 25px;
}
#sponsors p.name { 
    margin-bottom: 0; 
}
#sponsors .owl-next,
#sponsors .owl-prev {
    display: inline-block;
    margin: 25px 0 25px 0;
    width:20px;
}
#sponsors .owl-next img,
#sponsors .owl-prev img {
    width: 100%;
}
#sponsors .owl-next { float: right; }

/*Previous Sponsors Section*/

img.logo {
    max-width: 100px;
    margin: 20px
}

/*Meet the team section*/
#meet-the-team .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1000px;
}
.teammate {
    width: 150px;
    height: 150px;
    display: block;
    background-size: 230px;
    background-position: -30px;
    border-radius: 5px;
    margin: 10px auto;

}
.trina { 
    background-image: url(../images/committee/trina.jpg);
    background-position: -39px 0px; 
}
.amanda { 
    background-image: url(../images/committee/amanda.jpg); 
    background-size: 290px;
    background-position: -60px 0;
}
.allison {
    background-image: url(../images/committee/allison.jpg);
    background-position: 4px 0px;
    background-size: 149px;
}
.anjali { 
    background-image: url(../images/committee/anjali.jpg);
    background-position: -20px 0;
    background-size: 200px;}
.dalia {
    background-image: url(../images/committee/dalia.jpg);
    background-position: -30px -1px;}
.demi { 
    background-image: url(../images/committee/demi.jpg); 
    background-size: 230px;
    background-position: -40px -30px;
}
.diana {
    background-image: url(../images/committee/diana.jpg);
    background-position: center -27px;
    background-size: 170px }
.fangru { 
    background-image: url(../images/committee/fangru.jpg);
    background-size: 150px;
    background-position: 0px 0px;
}
.greg {
    background-image: url(../images/committee/greg.jpg);
    background-size: 240px;
    background-position: -38px -23px;
}

.herman {
    background-image: url(../images/committee/herman.jpg);
    background-size: 180px;
    background-position: -15px -11px;
}
.polina {
    background-image: url(../images/committee/polina.jpg);
    background-size: 154px;
    background-position: 0 0;
}
.teri { 
    background-image: url(../images/committee/teri.jpg);
    background-size: 240px;
    background-position: -30px -10px;
}

.overlay{
      display: none;
      background-color: rgba(0, 0, 0, 0.45);
      padding:8px;
      width: 100%;
      height: 100%;
      border-radius: 5px;

}
a:hover{
    text-decoration: none;
}
.teammate p {
    color:white;
}
.teammate p strong{
    text-transform: uppercase;
}
.teammate img {
    width: 35px;
    margin: 3px;
}

/*This years sponsors section*/

#this-years-sponsors .sponsor-logos {
    text-align: center;
    margin: 0 auto;
}
#this-years-sponsors .sponsor-logos div {
    padding: 20px 18px 0 18px;
}
#this-years-sponsors .sponsor-logos div p {
    color: #646464;
    font-weight: 900;
    margin-top:10px;
}

#this-years-sponsors .sponsor-logos img {
    max-width: 200px;
}

#this-years-sponsors .sponsor-logos .combustion img {
    margin-top: 10px;
}
#this-years-sponsors .sponsor-logos .ipgmediabrands img {
    margin-top: 15px;
}

#this-years-sponsors .sponsor-logos .seneca img {
    margin-top: -15px;
}
#this-years-sponsors .sponsor-logos .seneca .logo {
    height: 80px;
}

#this-years-sponsors .sponsor-logos .mass-minority .logo img{
    margin-top: -30px;
    width: 100px;
}
/*Footer*/
footer {
    background: #6A33CD;
    padding: 25px;
}

footer h3 {
    margin-top: 15px;
    text-align: left;
}

footer .social {
    margin-right: 20px;

}
footer .nextgen-logo {
    max-width: 155px;
}
/*Helper Classes*/
.clearfix { 
  clear:both; 
  width: 100%;
}
.purple-bg {
    background-color: #6A33CD;
    color: #ffffff;
    display: inline;
    padding: 5px;
}
.remove-padding {
    padding: 0 !important;
}
.remove-margin {
    margin: 0 !important;
}
img.quote {
    max-width: 30px;
    margin: 30px auto 0 auto;
}

.purple-bold {
    color: #7F4FD7;
    font-weight: 700;
    margin: 5px 0;
    display: block;
}
.pink-bold {
    color: #F52E99;
    font-weight: 700;
    display: block;
}
.white {
    color: #ffffff;
}
.subtext{
    color: #646464;
}
.purple-accent {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,a584e1+65,a584e1+100&0+64,0+64,1+65,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(166,134,225,0) 64%, rgba(165,132,225,1) 65%, rgba(165,132,225,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(166,134,225,0) 64%,rgba(165,132,225,1) 65%,rgba(165,132,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(166,134,225,0) 64%,rgba(165,132,225,1) 65%,rgba(165,132,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a584e1',GradientType=0 ); /* IE6-9 */);
}

.pink-accent {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f781c3+65,f781c3+100&0+64,0+64,1+65,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(247,131,196,0) 64%, rgba(247,129,195,1) 65%, rgba(247,129,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(247,131,196,0) 64%,rgba(247,129,195,1) 65%,rgba(247,129,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(247,131,196,0) 64%,rgba(247,129,195,1) 65%,rgba(247,129,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f781c3',GradientType=0 ); /* IE6-9 */

}



 /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        input.required.email.main-email-feild {
            padding: 13px;
            margin-right:10px;
        }
        .navbar-inverse .navbar-brand,
        .navbar-inverse .navbar-brand:visited,
        .navbar-inverse .navbar-brand:focus{
            color: #6A33CD;
        }
        .navbar-inverse .navbar-brand:hover{
            color: #a584e1;
        }
        .navbar-header, .navbar-inverse {
            background-color: #6A33CD;
            background: rgb(255,255,255);
            background: -moz-linear-gradient(left, rgba(255,255,255,1) 29%, rgba(106,51,205,1) 29%, rgba(106,51,205,1) 100%);
            background: -webkit-linear-gradient(left, rgba(255,255,255,1) 29%,rgba(106,51,205,1) 29%,rgba(106,51,205,1) 100%);
            background: linear-gradient(to right, rgba(255,255,255,1) 29%,rgba(106,51,205,1) 29%,rgba(106,51,205,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#6a33cd',GradientType=1 );
            color: #ffffff;
            border: 0;
        }
        .navbar-brand img {
            display: inline-block; 
            max-height: 35px;
        }
        a.navbar-brand {
            margin: 10px 0 0 0;
            padding: 0;
            height: 35px;
            display: inline-block;
        }
        .navbar-nav {
            width: 100%;
        }
        .navbar-inverse .navbar-nav>li>a {
            color: #ffffff;
        }
        #splash {
            margin-top: 50px;
        }
        #students .left .purple-bg {
            display: inline;
        }
        #students .right .purple-bg {
            display: none;
        }
        #testimonials {
            padding: 70px 0;
        }
        #how-it-works {
            padding-top: 50px;
            padding-bottom: 0;
        }
        #whats-in-it-for-you {
            padding-top: 0;
        }
        #testimonials p {
            text-align: left;
        }
        img.quote {
            margin: 30px 0 0 0;
        }
        #testimonials .col-sm-12 p {
            margin-top: 15px;
        }
        #sponsors p {
            margin: 25px 0 50px 0;
        }
        #sponsors .owl-carousel-sponsors p{
            text-align: left;
            margin: 25px 0 10px 0;
        }
        #sponsors .col-md-6.col-lg-4 {
            padding-left: 50px;
        }
        img.logo {
            max-width: 100px;
            margin: 15px 20px;
        }
        .btn-download {
            display: inline-block;
        }
        #this-years-sponsors .sponsor-logos div {
            /* float: left; */
            display: inline-block;
        }
        #this-years-sponsors .sponsor-logos .logo {
            height: 90px;
        }
        #this-years-sponsors .sponsor-logos .leo-burnett .logo {
            height: 70px;
        }
        footer,
        footer h3 {
            text-align: center;
        }
        footer .nextgen-logo {
            max-width: 155px;
            margin: 0 auto;
        }
        footer .social {
            margin: 0 13px;
        }
    
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .navbar-header,
        .navbar-inverse {
            height: 65px;
            padding-top: 6px;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
